html {
  font-size: 24px;
  font-family: Serif, Sans-serif;
  color: #5A120D;
}

body {
  margin: 0;
}

h1, h2, h3, p, figcaption {
  text-align: center;
  margin: auto;
  }

h1 {
  font-size: 2rem;
  font-weight: 800;
}

header, h3 {
  background-color: #F9F3F2;
  padding: 0.5em;
}

p {
  font-style: italic;
  font-weight: 600;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px auto 0;
}

h2 {
  margin: 25px auto 0;
}

#tribute-info ul {
  max-width: 980px;
  margin: 0.5em auto 1em;
  background-color: #F9F3F2;
  padding: 1em 2em;
  border-radius: 0.7em;
}

#tribute-info {
  padding: 0 1em; 
}
